
  <!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="false">
      <mat-nav-list>
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="/about">About</a>
        <a mat-list-item routerLink="/contact">Contact</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
   
    </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side">
    <!-- Side Navigation Content Here -->
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <!-- Main Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>